*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 18px;
    box-shadow: 0px 1px 4px rgb(208, 208, 208);
    align-items: center;
    justify-content: space-between;
    color:#424754;
    position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 1000;
}
.brand{
flex:1;
color: #0563ce;
margin-left:4.5%;
}
.center{
    flex:1.3;
}
.ul{
    list-style: none;
    gap:30px;
    display: flex;
}
.corner{   
  margin-right: 5%;
} 
.ull{
     list-style: none;
     color: white;
     background: linear-gradient(135deg, #2563eb 0%, #7c3aed 100%);
     border-color:currentColor;
     padding: 10px;
     border-radius: 10px;
     font-size: medium;
     transition: all 0.3s ease;
}
.ull a{
    color: white;
    text-decoration: none;
    transition: all 0.3 ease;
}
.ull:hover{
    box-shadow: 0px 4px 20px rgb(174, 198, 250);
    transform:scale(1.02);
}
.center .ul a 
{
    position: relative;
    text-decoration: none;
    color:inherit;
    font-size:larger;
}
.center a:hover{
    color:blue;
}
.center a::after{
    content: '';
    position:absolute;
    width: 100%;
    height: 2px;
    bottom:-7px;
    left:0;
    background-color: mediumblue;
    transform-origin: left;
    transition: transform 0.25s ease;
    transform:scale(0);
}

.center a:hover::after{
    transform:scale(1);
} 
.active{
border-bottom: 2px solid #2563eb;
}