.signup-container {
  min-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(248, 248, 249);
  padding: 1rem;
}

.signup-card {
  width: 100%;
  max-width: 520px;

  background: white;
  border-radius: 16px;

  padding: 1.5rem;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.signup-card h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #111827;

  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  font-size: 0.95rem;

  margin-bottom: 1.8rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;

  font-size: 1rem;
  font-weight: 540;
  color: #374151;
}

.signup-form input {
  padding: 12px;

  border: 1px solid #d1d5db;
  border-radius: 10px;

  font-size: 0.95rem;
  outline: none;

  transition: border-color 0.3s ease;
}

.signup-form input:focus {
  border-color: #2563eb;
}

.signup-form button {
  margin-top: 1.5rem;

  padding: 12px;

  border: none;
  border-radius: 10px;

  background: #1565d8;
  color: white;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-form button:hover {
  background: #0f56be;
}

.divider {
  height: 1px;
  background: #d1d5db;

  margin: 1.5rem 0;
}

.login-text {
  
  text-align: center;
  color: #6b7280;

  font-size: 0.95rem;
}
.login-bottom{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: space-between;
}
.login-text span,.login-forgot {
  color: #1565d8;
  font-weight: 600;
  cursor: pointer;
}

.login-text span:hover {
  text-decoration: underline;
}
.login-forgot:hover {
  text-decoration: underline;
}